

.signInBox {
  width: 30%;
  height: 70%;
  position: relative;
  /* border-style: dotted; */
  border-color: honeydew;
  min-width: 243px;
  min-height: 235.594px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signIn {
  position: relative;
  left: -0.8%;
}
