:root {
    --background: #ffffff;
    --light:#EBEBEB;
    --textGrey:#696969;
    --textDark:#585858;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

.coolBackground{
    background-color: var(--background);
}

.whiteBox{
    background-color: var(--background);
    border: 1px solid var(--textDark);
}

/* The Sign In Inputs */
.inputDivs{
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    height: 40%;
    background-color: var(--background);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid var(--textDark);
    padding: 6px;
}

/* Top navbar */
.topNavCam {
    flex: 0 0 7%;
    width: 100%;
    outline: white;
    /* background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Form Fields */
.field{
    width: 50%;
    padding-top:15px ;
    /* flex-grow: 0;
    flex-shrink: 0; */
}


.subField{
    /* border:black dotted; */
    flex-basis: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subField>*{
    width: 80%;
    color: var(--textGrey);
    font-weight: 500;
    font-size: small;
    margin-bottom:10px ;
}

.subField>input,.subField>select{
    height: 40px;
    border-radius: 10px;
    color: var(--textGrey);
    font-weight: 700;
    border: 3px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left:10px ;
}

.subField>div{
    height: 40px;
    border-radius: 10px;
    color: var(--textGrey);
    font-weight: 700;
    border: 3px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    overflow: hidden;
    max-width: 100%;  
}
.subField>div:hover{
    background-color: white;
}
.subField>div>div{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 15px;
    padding-right: 15px;
}

.subField>div>input{
    opacity: 0;
    width: 100%;
    height:100%;
    position: absolute;
    

}

/* .Attachment>input>*{
    opacity: 0;
} */

.backButton{
    width: 50px;
    height: 50px;
    position: absolute;
    left:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backButtonTop{
    width: 50px;
    height: 50px;
    position: absolute;
    left:20px;
    top: 5px;
}

.dashBodyMainCam {
    flex-basis:85%;
    flex-grow: 0;
    flex-shrink: 0;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}