body{
    overflow-y: hidden;
}
.header{
    display: flex;
    flex-direction: column;
}
.navButton{
    margin: 0.6em;
    padding: 0.5em;
    display: flex;
    justify-content: space-evenly;
}
.emailEditor{
    height: 90vh;
    width: 100%;

}