.subWrapperCam {
    /* border: dotted; */
    flex-shrink: 0;
    flex-basis: 0;
  }



  /* .dashBodyMainCam {
    flex-grow: 14;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .topButtonsCam {
    height: 80% ;
    background-color: rgb(23, 38, 74);
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
  }

  .camFormHolder{
      width: 80%;
      height: 80%;
      background-color: whitesmoke;
      border-radius: 14px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      display: flex;
      flex-direction: column;
  }

  .Fields{
      /* border-style: dotted; */
      flex-shrink: 0;
      flex-basis: 0;
  }

  .formFields{
    flex-grow: 10;
    display: flex;

  }
  .desBody{
      position: relative;
      left: -22%;
  }

  .leftFields{
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }

  .rightFields{
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  /* .subField{
    width: 100%;
    flex-basis: 15%;
    flex-grow: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .subField>*{
    margin-left: 5%;
    margin-right: 5%;
    flex-basis: 20%;
    flex-grow: 1;
  } */
  
  .subFieldLong{
    width: 100%;
    flex-basis: 15%;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .subFieldLong>*{
    margin-left: 5%;
    margin-right: 5%;

    flex-grow: 1;
  }



  .formButtons{
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }



  .formButtonsCam {
    height: 80% ;
    font-size: 14px;
    background-color: rgb(23, 38, 74);
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
  }

  /* form styling begin */
  .container1{
    margin: 2rem 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .form2 {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    /* margin: 0 auto 100px; */
    /* padding: 45px; */
    text-align: center;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
  }
  .form2 input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form2 button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form2 button:hover,.form button:active,.form button:focus {
    background: #43A047;
  }
  .form2 .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form2 .message a {
    color: #4CAF50;
    text-decoration: none;
  }
  .form2 .register-form {
    display: none;
  }
  .item{
    display: flex;
    flex-direction: row;
  }