.emailBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:2;
    margin-top: 2em;
}

.modalButton{
    justify-content: center;
    align-items: center;
    float: right;
}
.emailUpload{
    margin: 2rem;
}
.emailList{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding: 2rem;
}

.emailElements{
    display:flex;
    flex-direction: column; 
    border-style: solid;
    padding: 2rem  
}
.emailElementBody{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-style: outset;
}
.item{
    text-align: center;
    margin-left: 0.3rem;
}



